.background{
    padding-top: 15px;
    margin-top: 15px;
    background-image: linear-gradient(90deg, rgba(48,224,109,1) 4%, rgba(43,223,153,1) 17%, rgba(55,210,176,1) 36%, rgba(55,200,210,1) 56%, rgba(121,87,162,1) 92%);
}